{% extends "base.html" %}  
{% load custom_markdown %}
{% block content %}
<div class="blog-main">
      <div class="heading-blog">
        <h2>{{post.title}}</h2>
      </div>
      <div class="blog-info">
         <span class="label label-primary">Posted on {{post.create_time}}</span>
         <span class="label label-success">In {{post.category}}</span>
         <span class="label label-danger">By {{post.author}}</span>
         <span class="label label-info">
            <i class="fa fa-thumbs-up"></i>+ 10
          <i class="fa fa-thumbs-down"></i>-3
         </span>
       </div>
       <div class="blog-txt">
           <p>{{post.body | custom_markdown}}</p>
       </div>
</div>
<br />
 <!-- UY BEGIN -->
<div id="uyan_frame"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2130726"></script>
<!-- UY END -->
{% endblock content %}
